<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
#pl
{
width=100%;
height=30%;
}
h1
{
text-align:right;
}
</style>
</head>
<body>
<div >
<h1>Online College Magazine</h1>
</div>
<ul>
  <li><a class="active" href="#home"><h3>Home</h3></a></li>
  <li><a href="#news"><h3>admin</h3></a></li>
  <li><a href="#contact"><h3>student</h3></a></li>
  <li><a href="#about"><h3>upload</h3></a></li>
</ul>

<img src="iiitkota.jpg" width="1800" heigth="100">
<div class="id2">
  <h1> 	Some Published Articles</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>
       <p>articles related to arts club</p></h3>
      <img src="art.png">
      </div>
    <div class="col-sm-4">
      <h3>
<p>articles related to technical club</p></h3>
      <img src="tech.png">
      </div>
    <div class="col-sm-4">
<h3>
<p>articles related to literary club</p>
</h3>
      <img src="lit.png">    
      </div>
   </div>
</div>
</body>
</html>
