<head>
    <link rel="shortcut icon" type="image/png" href="logo.png"/>
<meta name="viewport" content="width=device-width, initial-scale=1"><title></title>
<style>
    .logo {
          padding-top: 1.5%;
          left: 5%;
          max-width: 8%;
          position:absolute;
        }
        .text {
          color: black;
          font-size: 70px;
          left:15%;
          position: absolute;
          top: 5%;
          text-align: left;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          
        }
        .head1{
            color: black;
          font-size: 25px;
          left:10%;
          position: absolute;
          top: 25%;
          text-align: left;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        }
        .head2{
            color: black;
          font-size: 15px;
          right:40%;
          position: absolute;
          top: 38%;
          text-align: right;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        }
        .body1{color: black;
          font-size: 25px;
          left:10%;
          right:10%;
          position: absolute;
          top: 45%;
          text-align: left;
          font-family: 'times new roman'; 
        }
          .button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 18px;
  margin-top: 650px ;
  margin-left:250px;
  border: none;
  cursor: pointer;
  width: 60%;
  opacity: 0.9;
}

button:hover {
  opacity:0.8;

        }
</style>
</head>
<body>
        <div class="top "><img src='/images/logotry.png' class="logo">   <div class="text">IIITK Magazine Portal</div></div>
        <form action="data" method="POST">
        <div class="head1"><h1>Title of the Composition:</h1></div><input type="text" name="title" style="border-radius:10px; border-block-width: 5px; width:370px;margin-left: 720px;margin-top:210px; height: 30px" >
        <div class="head2"><h2>By <%= name%></h2></div>
        <!-- <input type="text" name="writer"style="border-radius:8px; border-block-width: 3px; width:300px;margin-left: 810px;margin-top:20px; height: 18px"> -->
        <div class="body1"><p><textarea placeholder="Feel free to express yourself ............................." rows="25" cols="110"style="font-family: times new roman; font-size:20px" name="text">
          
          </textarea></div><div>
              <input type="submit" value="Submit"class="button">
          </form>
          </div>
          
</body>